# Environment files
.env
.env.*
!.env.example

# Database
/service-*-db
.db

# Node
node_modules

# Frontend
frontend/build
frontend/.svelte-kit
frontend/package

# Python
**/venv
/service-*/env
**/__pycache__

# Other
.vscode
.DS_Store